/* Based on InstagramButton.css */
.google-drive-btn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #00ac47;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #00ac47;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.google-drive-btn span {
  margin: 10px;
}

.google-drive-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.google-drive-btn:hover {
  color: #fff;
  border: 1px solid #00ac47;
}

.google-drive-btn:hover::before {
  box-shadow: inset 0 0 0 10em #00ac47;
}

/* Make the colored icon white on hover */
.google-drive-btn:hover svg {
  filter: brightness(0) invert(1);
  transition: filter 0.3s 0.1s ease-out;
}
